
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="top_strap">
        <div class="pull-left">
            <h3 class="page-title">User Dashboard</h3>
        </div>

        <div class="clearfix"></div>
        <div style="margin:0px 0px 10px;"></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs topheader-tab">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Section 1</a></li>
                    <li><a href="#tab_1_2" data-toggle="tab">Section 2</a></li>
                    <li><a href="#tab_1_3" data-toggle="tab">Section 3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="tabinner-content">
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                            </p>
                            <div class="alert ">
                                Check out the below dropdown menu. Don't worry it won't get chopped out by the tab content.
                                Instead it will be opened as dropup menu.
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_1_2">
                        <div class="tabinner-content">
                            <p>Howdy, I'm in Section 2.</p>
                            <p>
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                            </p>
                            <p>
                                Check out the below dropdown menu. Don't worry it won't get chopped out by the tab content.
                                Instead it will be opened as dropup menu.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_1_3">
                        <div class="tabinner-content">
                            <p>Howdy, I'm in Section 3.</p>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate.
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
</div>


