
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACT | Site Map Details</title>
    @Styles.Render("~/Content/CommanCss")
</head>
<body>
    <div id="map" style="height:900px;"></div>
</body>
</html>
@Scripts.Render("~/Content/CommanScript")
<script type="text/javascript">
    var GetDashBoardSiteWiseURL = '@Url.RouteUrl("GetDashBoardSiteWise")';
</script>
@Scripts.Render("~/bundles/bndlSiteMapDashboard")
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqCmulejs-VROzzpz_cJsMl7tEDbdIZrw&callback=initMap">
</script>