@{
    ViewBag.Title = "Password Expiration Alert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container outercontainer">
    <!--------------Details-------------->
    <div class="top_strap">
        <div class="pull-left">
            <h3 class="page-title">Password Expiration Alert</h3>
        </div>

        <div class="clearfix"></div>
        <div style="margin:0px 0px 10px;"></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <!--BEGIN Form-->
        <div class="row">
            <div class="top-panel-text">
                Dear User,
            </div>
            <div class="top-panel-text">
                @{
                    int PassChangeDays = ((Ecompliance.Areas.Admin.Models.User)Session["uBo"]).PassChangeDays;
                    string Days =" in " + PassChangeDays + " Days";
                    if (PassChangeDays==0)
                    {
                        Days = " today ";
                    }
                    else if (PassChangeDays == 1)
                    {
                        Days = " tomorrow ";
                    }
                }
                <p>Your Password will expire  @Days. Please change your password before it  expires.</p></div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel-rem pull-left">
                    <a href="@Url.RouteUrl("DashBoard")">Remind Me Later</a>
                </div>
                <div class="panel-rem pull-left">
                    <a href="@Url.RouteUrl("ChangePassword")" >Change Now</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10">
                <div class="panel-message">
                    Regards <br> Mynd ACT Team <div>
                    </div>
                </div>
                <!--END Form-->
            </div>
        </div>
    </div>
    <!-----------------end of popup model------------>
</div>
@section commanscript {
    @Scripts.Render("~/Content/CommanScript")
}


