
@{
    ViewBag.Title = "TaskFileErrorReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .k-grid-toolbar a {
        float: right;
    }
</style>

<div class="container maincontainer">
    <!--------------Details-------------->
    <div class="">
        <div class="top_strap">
            <div class="pull-left">
                <h3 class="page-title">Task File Error Report</h3>
            </div>
            <div class="clearfix"></div>
            <div style="margin:0px 0px 10px;"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="col-xs-12 col-sm-6 col-md-6 extra">
                <div class="col-xs-12 col-sm-4 col-md-4  extra">
                    <label>Select Type</label>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 allcreditionals">
                   
                    <label>@Html.RadioButton("Type", "PayDate")Pay Date</label>
                    <label>@Html.RadioButton("Type", "RunDate")Run Date</label>
                </div>
            </div>

               <div class="col-xs-12 col-sm-6 col-md-6 extra">
                <div class="col-xs-12 col-sm-4 col-md-4  extra">
                    <label>Select Date</label>
                </div>
                   <div class="col-xs-12 col-sm-8 col-md-8 allcreditionals">
                       <div class='input-group date'>
                           <input id="txtDate" type='text' class="form-control" placeholder="dd/mm/yyyy" />
                           <span id="spnToDate" class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                           </span>
                       </div>
                       @*@Html.TextBox("txtExpiryDate")*@
                   </div>
                </div>
            

           
                

             
                
           
          
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="search_btn pull-right">
                <input type="button" value="Search" class="button" id="btnSearch"  />
            </div>
        </div>



        

       
    </div>
    <br />
    <br />
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div id="grid"></div>
    </div>
</div>

@section commanscript {

    @Scripts.Render("~/Content/CommanScript")

    <script type="text/javascript">

        $(document).ready(function () {
        

            $("#txtDate").datepicker({
                dateFormat: 'dd/mm/yy',
            }).datepicker("setDate", new Date());

            $("#spnToDate").click(function () {
                $("#txtDate").datepicker('show');
            })

            $("#btnSearch").click(function () {
             

                var Date = $("#txtDate").val();
                var Type = $("input[name='Type']:checked").val();
                
                $.post("TaskFileErrorReportPost", { Type: Type, Date: Date }, function (response) {

                    if (response.IsSuccess) {
                        
                        var StrData = JSON.parse(response.Data);
                        if (StrData.Length > 0) {
                            if (StrData[0].Reason == "You do not have permission to view the log") {
                                alert(StrData[0].Reason);
                                StrData = "";}
                        }

                      

                            var grid = $("#grid").data("kendoGrid");
                            // detach events
                            if (grid != undefined) {
                                grid.destroy(); // destroy the Grid
                                $("#grid").empty();
                            }
                            $("#grid").kendoGrid({
                                dataSource: {
                                    pageSize: 10,
                                    data: StrData
                                },

                                columns: [

                                    { field: "DocID", title: "Document ID", width: "130px" },
                                    { field: "PayDate1", title: "Pay Date", width: "100px" },
                                    { field: "State", title: "State", width: "130px" },
                                     { field: "Company", title: "Company", width: "130px" },
                                    { field: "Site", title: "Site", width: "130px" },
                                    { field: "Act", title: "Act", width: "130px" },
                                     { field: "Activity", title: "Activity", width: "130px" },
                                   { field: "TaskDate1", title: "TaskDate", width: "130px" },
                                   { field: "RunDate1", title: "RunDate", width: "130px" },
                                       { field: "Reason", title: "Reason", width: "130px" },
                                   { field: "Status", title: "Status", width: "130px" },

                                ],
                                noRecords: true,
                                filterable: true,
                                sortable: true,
                                pageable: true,
                                reorderable: true,
                                resizable: true,
                            });
                        
                        
                    }
                    else { alert("Something went wrong , please try again later."); }
                });
              });
        });
      

    </script>

}
