
@{
    ViewBag.Title = "exception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>exception</h2>

<div class="outercontainer">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6"><img class="img-responsive" src="~/images/error.png"></div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="note-msg">Enternal server error occured.</div>
        </div>
    </div>
</div>

