
@{
    ViewBag.Title = "DataMigration";
    Layout = null;
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="~/Scripts/jquery/external/jquery/jquery.js"></script>
<script src="~/Scripts/jquery/jquery-ui.min.js"></script>
<h2>DataMigration</h2>

<input type="button" id="btnDataMigration" value="Data Migration" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnDataMigration").click(function () {
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl("ExecteMigration")",
                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: "json",
                success: function (response) {
                },
                error: function (data) {
                    alert('Error');
                }
            });
        });
    });
</script>